<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.taxibleuservices.mytaxipro"
		version = "1.5.5">
    
    <author href="http://flossyweb.com" email="contact@flossyweb.com">
        FRANCOIS-REGIS SIMON
    </author>

	<name>Mon Appli Taxi Business</name>

	<description>
	   Réservez votre taxi simplement via votre mobile avec l'application Taxi Pro.
	</description>

    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
	<preference name="prerendered-icon" value="false" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="detect-data-types" value="false" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="android-minSdkVersion" value="16" />
	<preference name="android-targetSdkVersion" value="16" />

    <plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-camera" source="npm" />
	<plugin name="cordova-plugin-contacts" source="npm" />
	<plugin name="cordova-plugin-file" source="npm" />
	<!-- <plugin name="cordova-plugin-media" source="npm" /> -->
	<plugin spec="https://github.com/apache/cordova-plugin-media" />
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-dialogs" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="cordova-plugin-vibration" source="npm" />
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-device-orientation" source="npm" />
	<plugin name="cordova-plugin-geolocation" source="npm" />
	<config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="true">
		<string>CELA PERMETTRA AUX TAXIS DE CONNAITRE VOTRE POSITION.</string>
	</config-file>
	<config-file platform="ios" parent="NSPhotoLibraryUsageDescription" overwrite="true">
		<string>CELA VOUS PERMETTRA DE SCANNER DES QR CODES.</string>
	</config-file>
	<config-file platform="ios" parent="NSCameraUsageDescription" overwrite="true">
		<string>CELA VOUS PERMETTRA DE SCANNER DES QR CODES.</string>
	</config-file>
	<plugin name="cordova-plugin-statusbar" source="npm" />
	<plugin name="cordova-plugin-whitelist" source="npm" spec="1.0.0" />
	<plugin name="cordova-open" source="npm" spec="1.0.12" />
	<plugin name="com-badrit-contactpicker" source="npm" />
	<plugin name="cordova-sms-plugin" source="npm" spec="0.1.10" />
	<plugin name="phonegap-plugin-barcodescanner" source="npm" />
	<plugin name="cordova-plugin-powermanagement" source="npm" />
	<plugin name="cordova-plugin-mauron85-background-geolocation" spec="2.2.5" source="npm">
		<variable name="ALWAYS_USAGE_DESCRIPTION" value="CELA PERMETTRA AUX TAXIS DE CONNAITRE VOTRE POSITION." />
	</plugin>
	<plugin name="cordova-plugin-background-mode" source="npm" spec="0.6.5" />
	<!-- 
	<plugin name="cordova-plugin-background-task" source="npm" />
	<plugin name="de.appplant.cordova.plugin.local-notification" spec="0.8.4" source="npm" />
	<plugin name="de.appplant.cordova.plugin.local-notification-ios9-fix" spec="0.8.2" />
	<plugin name="cordova-plugin-crosswalk-webview" source="npm" version="2.3.0" />
	-->
    <plugin name="cordova-plugin-local-notifications" spec="https://github.com/notclive/cordova-plugin-local-notifications" source="git" />  
	<plugin name="cordova-plugin-crosswalk-webview" source="npm" version="2.3.0" />
    <preference name="xwalkMultipleApk" value="true" />      
    <plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />  
    <preference name="android-versionCode" value="3104" />
	<!-- 
	<preference name="buildArchitecture" value="x86" />
	<plugin name='org.crosswalk.engine.x86' spec='1.3.0' source='pgb' />
	<plugin name='org.crosswalk.engine' spec='1.3.0' source='pgb' />
	-->
	<plugin name="cordova-plugin-customurlscheme" source="npm">
		<param name="URL_SCHEME" value="montaxipro" />
	</plugin>
	<plugin name="cordova-plugin-x-socialsharing" spec="5.0.11" source="npm" />

    <icon src="icon.png" />
	<splash src="splash.png" />
	
	<icon src="icons/ios/icon-57.png" platform="ios" width="57" height="57" />
	<icon src="icons/ios/icon-58.png" platform="ios" width="58" height="58" />
	<icon src="icons/ios/icon-72.png" platform="ios" width="72" height="72" />
	<icon src="icons/ios/icon-76.png" platform="ios" width="76" height="76" />
	<icon src="icons/ios/icon-87.png" platform="ios" width="87" height="87" />
	<icon src="icons/ios/icon-114.png" platform="ios" width="114" height="114" />
	<icon src="icons/ios/icon-120.png" platform="ios" width="120" height="120" />
	<icon src="icons/ios/icon-152.png" platform="ios" width="152" height="152" />
	<icon src="icons/ios/icon-167.png" platform="ios" width="167" height="167" />
	<icon src="icons/ios/icon-180.png" platform="ios" width="180" height="180" />
	<splash src="splash/ios/Default.png" platform="ios" width="320" height="480" />
	<splash src="splash/ios/Default_at_2x.png" platform="ios" width="640" height="960" />
	<splash src="splash/ios/Default_iphone5.png" platform="ios" width="640" height="1136" />
	<splash src="splash/ios/Default_iphone6.png" platform="ios" width="750" height="1334" />
	<splash src="splash/ios/Default_iphone6plus.png" platform="ios" width="1242" height="2208" />
    
	<allow-navigation href="*" />
	<access origin="*" />
	
</widget>